# Project Metadata & Configuration
APP_NAME=Entify
APP_MODE=DEV
APP_GITHUB_REPO_URL=https://github.com/softdevhassan/entify

# Team & Contact Info
TEAM_MEMBERS=Member 1, Member 2, Member 3
TEAM_HANDLES=handle1, handle2, handle3
CONTACT_EMAIL=admin@example.com

# Institutional URLs
UOS_URL=https://su.edu.pk
ILM_URL=https://ilm.edu.pk

# Versioning & Deployment
PROJECT_VERSION=v2.8.0
DEPLOY_DOMAIN=example.com
